{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-ms-6">
                    <a href="/" class="logo">Kakureya</a>
                    <div class="line"></div>
                    <p>
                        Pedidos a domicilio, experiencia japonesa garantizada.
                    </p>
                    <div class="social-icons">
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        <a target="_blank" href="https://github.com/miguelczz/Kakureya"><i class="ri-github-fill"></i></a>
                        <a href=""><i class="ri-whatsapp-fill"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-ms-6">
                    <h5 class="mb-0 text-white">EXPERIENCIA</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="/#categories">Haz tu pedido</a></li>
                        <li><a href="#">Sistema de puntos</a></li>
                        <li><a href="/#categories">Menú completo</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-ms-6">
                    <h5 class="mb-0 text-white">MÁS INFO</h5>
                    <div class="line"></div>
                    <ul>
                        <li>Medellín, Antioquia</li>
                        <li>+57 3112939462</li>
                        <li>10:00 a.m. - 10:00 p.m.</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-ms-6">
                    <h5 class="mb-0 text-white">CULTURA</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a target="_blank" href="https://www.unotv.com/estilo-de-vida/gastronomia/sushi-historia-y-tipos/">Historia del sushi</a></li>
                        <li><a target="_blank" href="https://www.japan.travel/es/guide/yakitori-a-guide-to-chicken-skewers/">Sobre el Yakitori</a></li>
                        <li><a target="_blank" href="https://www.gastronosfera.com/tendencias/7-postres-y-dulces-japoneses-hay-vida-mas-alla-de-los-mochis">Postres japoneses</a></li>
                        <li><a target="_blank" href="https://www.deliverect.com/en/blog/dark-kitchens/what-is-a-dark-kitchen">Dark kitchen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">
                        © Copyright Kakureya. Todos los derechos reservados
                    </p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">
                        Alma de Japón, servida en Medellín.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>