<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakureya</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
            <li><a href="{% url 'products' %}">Productos</a></li>
            <li><a href="{% url 'products_added' %}">Carrito de compras</a></li>
            <li><a href="{% url 'create_product' %}">Crear producto</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
            <li><a href="{% url 'signin' %}">Iniciar sesion</a></li>
            {% endif %}

        </ul>

    {% block content %}
    {% endblock %}
</body>
</html>