{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Kakureya</h1>
        
        {% if user.is_authenticated %}

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus nesciunt voluptas incidunt nemo sed dicta quas dolorum illum officiis veritatis cupiditate modi, deleniti voluptates quam explicabo culpa aliquid doloribus recusandae ab iusto reprehenderit, fugiat quae. Fugit fuga, minus officia eaque pariatur vero amet nemo nihil quas temporibus debitis labore molestiae sunt quos, provident soluta consectetur quasi nostrum non! Asperiores magnam consectetur reprehenderit ipsa numquam minima minus ut repellat, quam corrupti officia maiores molestiae? Esse aperiam blanditiis autem ab saepe ea quas labore nam quam beatae! Corrupti numquam veritatis temporibus eveniet delectus recusandae odit, voluptatem autem nesciunt quia aliquam maiores repudiandae?</p>

        {% else %}
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Ingresar
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrarse
            </a>
        </div>
        {% endif %}

        </section>
</main>

{% endblock %}