{% extends 'base.html' %} {% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body">
                <h1>Nueva contraseña</h1>
                <p>
                    Por favor ingresa tu nueva contraseña dos veces para
                    verificar.
                </p>

                {% csrf_token %} {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                <div class="mb-3">
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1.errors }}
                    <input
                        type="password"
                        name="new_password1"
                        id="id_new_password1"
                        class="form-control"
                        required />
                    <small class="form-text text-muted">
                        La contraseña debe tener al menos 8 caracteres y no
                        puede ser demasiado común.
                    </small>
                </div>

                <div class="mb-3">
                    <label for="id_new_password2">Confirmar contraseña:</label>
                    {{ form.new_password2.errors }}
                    <input
                        type="password"
                        name="new_password2"
                        id="id_new_password2"
                        class="form-control"
                        required />
                    <small class="form-text text-muted">
                        Ingresa la misma contraseña para verificación.
                    </small>
                </div>

                <button class="btn btn-dark">Cambiar contraseña</button>
            </form>
        </section>
    </div>
</main>
{% endblock %}
