{% extends 'base.html' %} {% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body">
                <h1>Restablecer contraseña</h1>
                <p>
                    Ingresa tu dirección de correo electrónico y te enviaremos
                    instrucciones para restablecer tu contraseña.
                </p>

                {% csrf_token %}
                <div class="mb-3">
                    <label for="email">Correo electrónico:</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control"
                        required />
                </div>

                <button class="btn btn-dark">Enviar instrucciones</button>

                <div class="mt-3 text-center">
                    <a href="{% url 'signin' %}" class="text-decoration-none"
                        >Volver al inicio de sesión</a
                    >
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %}
