{% extends 'base.html' %}
{% load group_filters %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">{{ product.name }}</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            {% if user|in_group:"Administrador" %}
            
            <!-- Contenedor horizontal para ambos formularios -->
            <div class="">
                <form method="POST" class="mb-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </form>

            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
