<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inscripcion</h1>

    <!-- 
    action="/signup/" 
    Se usa para enviar los datos a una determinada pagina,

    method="post"
    POST se usa para cargar archivos de manera privada 
    -->

    <form method="post">
        {% csrf_token %}
        {{myform.as_p}}

        <button>
            Enviar
        </button>
    </form>
</body>
</html>