# === PYTHON & DJANGO ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
db.sqlite3

# === ENTORNO VIRTUAL ===
venv/

# === CONFIGURACIONES SENSIBLES ===
.env

# === ARCHIVOS DE ENTORNO ESTÁTICO ===
staticfiles/

# === ARCHIVOS DE SISTEMA OPERATIVO ===
.DS_Store
Thumbs.db

# === ARCHIVOS DE DESPLIEGUE TEMPORALES ===
*.bak
*.tmp
*.swp
*.swo

# === ARCHIVOS DE PAQUETES / ENTORNOS ===
*.egg-info/
.eggs/
*.manifest

# === ARCHIVOS DE DEPLOY A HEROKU / AWS ===
*.tar.gz
*.zip
