.section-title {
    margin-bottom: 40px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: var(--c-body);
}

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.2);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

.img-about {
    width: 550px;
    height: 600px;
}