/* Loader wrapper pantalla completa */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*  background-color: #0000001e; Fondo oscuro sin barra blanca */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Efecto de desvanecimiento al cargar */
#loader-wrapper.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

/* Loader three-body */
.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #560319;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
        calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

.logoblanco {
    max-height: 65px; /* Limita la altura máxima del logo */
    width: auto; /* Mantiene la proporción de la imagen */
    display: inline-block; /* Asegura que no afecte el flujo del contenido */
}

body {
    font-family: 'PT Serif', sans-serif; /* Aplica la fuente a todo el cuerpo */
}

.navbar-brand {
    font-family: 'PT Serif', sans-serif; /* Aplica la fuente solo al logo o navbar */
}

/* Estamos dependiendo de GoogleFonts para usar la letra "PT Serif" */

footer {
    background-color: #343a40; /* Color oscuro para el fondo */
    color: #ffffff; /* Texto blanco */
    padding: 20px 0; /* Espaciado vertical */
}

footer a {
    color: #ffffff; /* Enlaces en blanco */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
}

footer a:hover {
    color: #ffc107; /* Cambia el color al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.hero-section {
    background-color: #f8f9fa; /* Fondo claro */
    padding: 100px 20px; /* Espaciado vertical */
}

.hero-section h1 {
    font-family: 'Special Elite', sans-serif; /* Fuente personalizada */
    color: #333; /* Color del texto */
}

.hero-section p {
    font-size: 1.5rem; /* Tamaño del texto del eslogan */
    color: #555; /* Color del eslogan */
}

.hero-section img {
    max-width: 100%; /* Imagen responsiva */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px; /* Bordes redondeados */
}

.hero-section .btn-primary {
    background-color: #ff0000; /* Color del botón */
    border-color: #000000;
    font-size: 1.2rem;
    padding: 10px 20px;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%, 100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%, 100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}
