@font-face {
    font-family: 'BigWhale';
    src: url('/static/fonts/Bigwhale.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 56px;
    box-shadow: var(--box-shadow);
    background-color: #1a1515;
}

.navbar-brand {
    font-family: var(--font-navbar-brand);
    font-size: 30px;
    line-height: 1;  
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--c-light);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-light);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

.btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: var(--c-light);
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: var(--c-light);
}
