.img-member {
    width: 350px;
    height: 450px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-member {
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.image-zoom:hover .img-member {
    transform: scale(1.1);
}

.team-member-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 50px);
    padding: 24px;
    background-color: var(--c-brand);
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}
