footer {
    padding-top: 80px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.logo {
    font-family: var(--font-brand);
    font-size: 40px;
    line-height: 0;  
    color: white;
}

.social-icons a {
    width:  40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}